<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--    Setter Injection-->
    <bean id="act1" class="com.stackroute.domain.Actor">
        <property name="name" value="Anil"/>
        <property name="gender" value="male"/>
        <property name="age" value="25"/>
    </bean>
    <bean id="act2" class="com.stackroute.domain.Actor">
        <property name="name" value="Kajal"/>
        <property name="gender" value="female"/>
        <property name="age" value="23"/>
    </bean>
    <bean id="movie1" class="com.stackroute.domain.Movie">
        <property name="actor">
            <list value-type="java.util.list">
                <ref bean="act1"/>
                <ref bean="act2"/>
            </list>
        </property>
    </bean>
</beans>